[user]
	email = fluidvanadium@zingolabs.org
	name = fluidvanadium
	signingkey = C47646895F2455BC
[alias]
	commit = commit
	commut = commit -a
	commat = !git add -A && git commit
	commend = commit --amend
	commund = commut --amend
	command = commat --amend
	comit = commit -m
	comut = commut -m
	comat = commat -m
	comend = commit --amend -m
	comund = commut --amend -m
	comand = commat --amend -m
	sommit = commit -S
	sommut = sommit -a
	sommat = !git add -A && git sommit
	sommend = sommit --amend
	sommund = sommut --amend
	sommand = sommat --amend
	somit = sommit -m
	somut = sommut -m
	somat = sommat -m
	somend = sommit --amend -m
	somund = sommut --amend -m
	somand = sommat --amend -m
	
	ssgs = show --show-signature -s
	merse = merge -S
	rebass = rebase --gpg-sign
	rebasis = rebase --gpg-sign -i
	chicks = cherry-pick --gpg-sign
	tas = tag -s
	lon = log --oneline
	len = log --oneline -n
	lll = log --graph --decorate --oneline --color
	logodopoc = log --graph --decorate --patch --color
    llf = lolol --reflog
	ftl = fetch --al
    trackbranch = "!f() { : git checkout -b ; git checkout -b $1_$2 --track $1/$2; }; f"
	newupstream = "!f() { : git push ; git push -u $1 $1_$2:$2; }; f"
	; Explicit is better than implicit.  If we want to merge
	; we should do so ourselves.
	pull = pull --ff-only
	# rebas = rebase --exec 'git commit --amend --no-edit -n -S'

	cargox = "!cargo fmt && git somat 'cargo fmt' ; cargo clippy --fix --tests --all-features && git somat 'cargo clippy --fix --tests --all-features' ; ./utils/trailing-whitespace.sh reject ; git somat 'trailing whitespace clipper'"
	puff = push -f
[commit]
[credential]
	helper = store
[diff]
	tool = meld
[difftool]
	prompt = false 
[merge]
	conflictStyle = diff3
[core]
	editor = hx
[init]
	defaultBranch = dev
[push]
	default = current
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
