layout {
    default_tab_template {
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }
    tab focus=false name="root" {
        pane {
            command "sudo"
            args "su"
        }
    }
    tab focus=false name="backup" {
        pane {
            command "hx"
            args "~/brick"
        }
    }
    tab focus=false name="BRICK" {
        pane {
            command "hx"
            args "~/brick"
        }
    }
    tab focus=true name="comms" cwd="~" {
        pane {
            command "brave"
            start_suspended true
        }
        pane {
            command "signal-desktop"
            start_suspended true
        }
    }
    tab focus=false name="zellijtabfocusbughack" {
        pane {
        }
    }
}
