layout {
    default_tab_template {
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }

    tab name="abalone" split_direction="vertical" {
        pane {
			command "hx"
			args "abalone.txt"
            size "77%"
		}
    }
    tab name="hormiga" split_direction="vertical" {
        pane {
			command "hx"
			args "hormiga.txt"
            size "77%"
		}
    }
    tab name="food_and_sleep" split_direction="vertical" {
        pane {
			command "hx"
			args "food_sleep.txt"
            size "77%"
		}
    }
    tab name="planner" split_direction="vertical" {
        pane {
			command "hx"
			args "todo_planner.txt"
            size "77%"
		}
    }
}
