layout {
    default_tab_template {
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }

    tab name="abalone" split_direction="vertical" {
        pane {
			command "hx"
			args "abalone.txt"
            size "77%"
		}
    }
    tab name="todo_open" split_direction="vertical" {
        pane {
			command "hx"
			args "todo_open.txt"
            size "77%"
		}
    }
    tab name="tempender" split_direction="vertical" {
        pane {
			command "hx"
			args "tempender.txt"
            size "77%"
		}
    }
}
