layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane //command="zellij"
    }
    tab_template name="cus" {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }
    cus name="game" {
        pane command="zellij" {
			args "-l" "trifold"
		}
    }
    cus name="tool" cwd="dotfiles" {
        pane command="zellij" {
			args "-l" "BRICK"
		}
    }
    cus name="performer" cwd="leaves/love/performer" {
        pane command="zellij" {
			args "-l" "trifold"
		}
    }
    cus name="ZINGO" cwd="ZINGO" {
        pane command="zellij" {
			args "-l" "ZINGO"
		}
    }
}
keybinds {
    normal clear-defaults=true {
        bind "Ctrl q" { SwitchToMode "Tab"; }
    }
    tab {
        unbind "Ctrl t"
        unbind "Ctrl q"
        bind "Enter" { SwitchToMode "Normal"; }
        bind "p" { SwitchToMode "Pane"; }
    }
}
